<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlRS0LrTSlZR3NagV_0r1PpDOPw_QOrhE</string>
	<key>GCM_SENDER_ID</key>
	<string>674281588830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.provaRegistro</string>
	<key>PROJECT_ID</key>
	<string>itsar---registro</string>
	<key>STORAGE_BUCKET</key>
	<string>itsar---registro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674281588830:ios:1244766a9d9003e0df0ccf</string>
</dict>
</plist>